In [1]:
import pandas as pd

In [2]:
filename = '/content/drive/Othercomputers/My Laptop/data-science-assignments/03 - Data Visualization/athleteEventsNoPersonal.csv'

In [3]:
df = pd.read_csv(filename, header=0)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     39143 non-null  float64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.7+ MB

In [5]:
df.head()

   ID   Age  Height  ...          Sport                               Event Medal
0   5  21.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
1   5  21.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
2   5  25.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
3   5  25.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
4   5  27.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN

[5 rows x 12 columns]

In [6]:
df.shape

(40616, 12)

#1a, 1b. How many rows and columns?

In [7]:
print('Olympic dataset has',format(df.shape[0],","),'rows')
print('Olympic dataset has',format(df.shape[1],","),'columns')

Olympic dataset has 40,616 rows
Olympic dataset has 12 columns

#1c. Which columns have missing values?

In [8]:
print('Columns with missing values are:')
for i in df.columns[df.isna().any()]:
    print(i)
print("A high percentage of Olympic athletes don't earn a medal")

Columns with missing values are:
Age
Height
Medal
A high percentage of Olympic athletes don't earn a medal

In [9]:
city_name = 'London'
city_filter = df['City'] == city_name
res = df.loc[city_filter,'City'].value_counts()

#1d. How many entries correspond to the city of London?

In [10]:
print('Entries corresponding to',city_name,'are', format(res[0],","))

Entries corresponding to London are 3,370

#1e. What is age of the youngest athlete?

In [11]:
print('Age of youngest athlete is',df['Age'].min())

Age of youngest athlete is 11.0

#2a. How many athletes who participated in the Tug-Of-War were from Sweden?

In [12]:
Team_filter = df['Team'] == 'Sweden'
Sport_filter = df['Sport'] == 'Tug-Of-War'

res = df.loc[Team_filter & Sport_filter,['Team','Sport','ID']].value_counts()

In [13]:
res

Team    Sport       ID
Sweden  Tug-Of-War  68647    1
                    64266    1
                    55169    1
                    44087    1
                    43105    1
                    34205    1
dtype: int64

In [14]:
ans = res.sum()
print('Number of athletes in Tug-Of-war from Sweden:',ans)

Number of athletes in Tug-Of-war from Sweden: 6

#2b. How many Gold medals were awarded to athletes over 40 years old?

In [15]:
Medal_filter = df['Medal'] == 'Gold'
Age_filter = df['Age'] > 40.0

res = df.loc[Medal_filter & Age_filter, ['ID']].value_counts()

In [16]:
ans = res.sum()
print('Number of athletes over 40 years old, that earned a gold medal:', ans)

Number of athletes over 40 years old, that earned a gold medal: 66

In [17]:
#3a. Average height based on all rows
df['Height'].mean()

175.3811165585956

In [18]:
#3b. By Event, average height based on all rows
df.groupby(['Event'])[['Height']].mean()

                                                    Height
Event
Alpine Skiing Men's Combined                    178.547170
Alpine Skiing Men's Downhill                    178.211679
Alpine Skiing Men's Giant Slalom                176.739394
Alpine Skiing Men's Slalom                      176.482143
Alpine Skiing Men's Super G                     179.850575
...                                                    ...
Wrestling Women's Flyweight, Freestyle          158.100000
Wrestling Women's Heavyweight, Freestyle        173.444444
Wrestling Women's Light-Heavyweight, Freestyle  170.000000
Wrestling Women's Lightweight, Freestyle        162.666667
Wrestling Women's Middleweight, Freestyle       164.533333

[726 rows x 1 columns]

In [19]:
#Bonus:
one_per_athlete = df.drop_duplicates('ID', keep = 'first')

In [20]:
one_per_athlete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20336 entries, 0 to 40614
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      20336 non-null  int64
 1   Age     19388 non-null  float64
 2   Height  15293 non-null  float64
 3   Team    20336 non-null  object
 4   NOC     20336 non-null  object
 5   Games   20336 non-null  object
 6   Year    20336 non-null  int64
 7   Season  20336 non-null  object
 8   City    20336 non-null  object
 9   Sport   20336 non-null  object
 10  Event   20336 non-null  object
 11  Medal   2850 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 2.0+ MB

In [21]:
one_per_athlete['Height'].mean()

176.31818479042698