#Loading and Filtering Data Assignment
##Completed by Michael Akinosho
###Completed on 10/24/2021

In [1]:
import pandas as pd

In [2]:
filename = "/content/drive/Othercomputers/My Laptop/data-science-assignments/02 - Manipulating Data/RailsToTrails_National Count Data_week.xlsx"

In [12]:
df = pd.read_excel(filename)
df.head()
df.shape

(52, 10)

#1. Selecting just the data after July 31, 2020

In [23]:
###Create filter to select rows using column Week of
###Filtering for rows after July 31st, 2020
week_of_filter = df['Week of'] > '2020-07-31'
df.loc[week_of_filter,:].info

<bound method DataFrame.info of    Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0     Week 1 2020-12-30  ...         NaN         NaN
31   Week 32 2020-08-03  ...         NaN         NaN
32   Week 33 2020-08-10  ...         NaN         NaN
33   Week 34 2020-08-17  ...         NaN         NaN
34   Week 35 2020-08-24  ...         NaN         NaN
35   Week 36 2020-08-31  ...         NaN         NaN
36   Week 37 2020-09-07  ...         NaN         NaN
37   Week 38 2020-09-14  ...         NaN         NaN
38   Week 39 2020-09-21  ...         NaN         NaN
39   Week 40 2020-09-28  ...         NaN         NaN
40   Week 41 2020-10-05  ...         NaN         NaN
41   Week 42 2020-10-12  ...         NaN         NaN
42   Week 43 2020-10-19  ...         NaN         NaN
43   Week 44 2020-10-26  ...         NaN         NaN
44   Week 45 2020-11-02  ...         NaN         NaN
45   Week 46 2020-11-09  ...         NaN         NaN
46   Week 47 2020-11-16  ...         NaN         NaN
47   Week 48 2020-11-23  ...         NaN         NaN
48   Week 49 2020-11-30  ...         NaN         NaN
49   Week 50 2020-12-07  ...         NaN         NaN
50   Week 51 2020-12-14  ...         NaN         NaN
51   Week 52 2020-12-21  ...   26.728808    0.514016

[22 rows x 10 columns]>

#2. Selecting just the data from column 'Change 2019-2020' that is greater than 100%

In [27]:
###Create filter to select rows using column Change 2019-2020
###Filtering for rows with percentage greater than 100%
percent_cutoff_filter = df['Change 2019-2020'] > 1.0
df.loc[percent_cutoff_filter,:].info

<bound method DataFrame.info of    Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
7     Week 8 2020-02-17  ...         NaN         NaN
11   Week 12 2020-03-16  ...         NaN         NaN
12   Week 13 2020-03-23  ...         NaN         NaN
13   Week 14 2020-03-30  ...         NaN         NaN
14   Week 15 2020-04-06  ...         NaN         NaN

[5 rows x 10 columns]>

#First Checkpoint
###Adding this checkpoint to preserve the initial dataframe variable df

In [6]:
bikes_df1 = df

In [7]:
bikes_df1 = df.loc[week_of_filter & percent_cutoff_filter, :]

In [28]:
bikes_df1.info

<bound method DataFrame.info of Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []>

#3. Putting both week_of_filter and percent_cutoff_filter together results in zero rows; no rows meet both requirements.

In [31]:
#Checking after creating bikes_df1 that df variable has not changed
df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]